<div class="background-pic">
  <div class="login-container">
    <div class="row mt-0 justify-content-center">
      <div class="col-12 col-lg-4 p-3 rounded-5">
        <div class="log-in-text">
          <h2>Sign up</h2>
        </div>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "first_name" }%>
              <%= f.input :last_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "last_name" }%>
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="btn-rainbow">
              <%= f.button :submit, "Sign up" %>
            </div>
          <% end %>

          <br>
          <div class="form-links">
            <%= render "devise/shared/links" %>
          </div>
      </div>
    </div>
  </div>
</div>
