<%= link_to alpaca_path(alpaca), :class => "card_links" do %>
  <div class="card card-alpaca border-0 shadow" style="">
    <% if alpaca.photos.attached? %>
      <%= cl_image_tag alpaca.photos.first.key, class: "card-img-top card-alpaca-img", crop: :thumb, gravity: :face %>
    <% else %>
      <img src="https://i.imgflip.com/6hf6ez.jpg" class="card-img-top card-alpaca-img">
    <% end %>
    <div class="card-body">
      <h5 class="card-title text-truncate"><%= alpaca.name %></h5>
      <p class="card-text text-truncate">Stats: <%= alpaca.height %> cm, <%= alpaca.weight %> kg, <%= alpaca.color %>, etc.</p>
    </div>
  </div>
<% end %>
