<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid row mx-0">
    <div class="col-3">
      <a class="navbar-brand" href="/">
        <%= image_tag "alpaca.png" %>
      </a>
    </div>
    <div class="col-6">

      <% unless current_page?(root_path) %>
          <%= form_tag alpacas_path, class: "d-flex", method: :get do %>
            <div class="input-group">
              <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Put your address here" %>
              <%= number_field_tag :radius,
                  params[:radius],
                  class: "form-control",
                  placeholder: "Search radius in km" %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
            </div>
          <% end %>
      <% end %>
    </div>
    <div class="col-3 d-flex justify-content-end">
    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Alpacas", alpacas_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Rent out your Alpaca", new_alpaca_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://avatars.githubusercontent.com/u/70270117?v=4" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Alpacas", alpacas_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-secondary me-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
          </li>
        </ul>
      </div>
    <% end %>
    </div>
  </div>
</div>
