<div class="container">
  <div class="card">
    <div class="card-body">
      <%= simple_form_for @alpaca do |f| %>
        <%= f.input :name %>
        <%= f.input :nick_name %>
        <%= f.input :age %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.input :price_per_day %>
        <%= f.input :height %>
        <%= f.input :weight %>
        <%= f.input :color, collection: AlpacasController::COLORS, as: :select %>
        <%= f.input :wool_type, collection: AlpacasController::WOOL_TYPES, as: :select %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
