<div class="card-alpaca">
  <%# <img src="" /> %>
  <div class="card-alpaca-infos">
    <div>
      <h2></h2>
      <p>Hello! My nickname is <%= @alpaca.nick_name %></p>
      <p>I'm <%= @alpaca.color %> and would like to get hired by you.</p>
      <p>But I need my personal space.</p>
    </div>
  </div>

<div class="container">
  <div class="card border-0 m-auto" style="width: 40%;">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top rounded-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Age</th>
            <td> <%= @alpaca.age %> years </td>
          </tr>
          <tr>
            <th scope="row">Weight</th>
            <td> <%= @alpaca.weight %> kg</td>
          </tr>
          <tr>
            <th scope="row">Height</th>
            <td> <%= @alpaca.height %> cm</td>
          </tr>
          <tr>
            <th scope="row">Wool Type</th>
            <td> <%= @alpaca.wool_type %> </td>
          </tr>
          <tr>
            <th scope="row">Owner</th>
            <td><%= @alpaca.owner.first_name %> <%= @alpaca.owner.last_name  %></td>
          </tr>
        </tbody>
      </table>
      <a href="#" class="btn btn-primary w-100 mt-3">Book Alpaca</a>
    </div>
  </div>
</div>
